fastapi
uvicorn
motor
python-dotenv
pydantic
pydantic-settings
pydantic[email]

ollama
psycopg2
qdrant-client
sentence-transformers
tqdm
python-docx
pdfplumber

langchain
langchain-core
langchain-ollama
langchain-community  
pymupdf 